@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Автоматизация отдела продаж</h1>
    <p class="lead"> Продажи — один из самых сложных и стрессовых элементов любой бизнес-системы. Именно отдел продаж поможет удержать компанию на плаву даже в самые сложные периоды, и он же с легкостью ее потопит, когда этого никто не ожидает. Поэтому, если в отделе продаж есть дыры, то их рано или поздно ощутит на себе вся компания.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Отдел продаж</h2>
        <img src="~/Content/images/SM.jpeg" class="img img-responsive" />
        <ul>
            Менеджер по продажам должен осуществлять связь между покупателями, и производящими и торговыми организациями. Менеджер по продажам выполняет следующие работы:
            <li>Обеспечивает и разрабатывает реализацию мероприятий по организации и созданию сети сбыта товаров.</li>
            <li>Организует преддоговорную работу и заключает договоры.
            <li>
                Обеспечивает и создаёт непрерывное обновление информационных баз о клиентах.
            </li>
            <li>
                Проводит анализ объемов продаж и подготавливает отчеты по результатам проведенных анализов для представления руководству.
            </li>
        </ul>
        <ul>
            Основные задачи менеджера по продажам:
            <li>
                Выполнение плана продаж.
            </li>
            <li>
                Управление продажами в своем сегменте.
            </li>
            <li>
                Управление взаимоотношениями с клиентами.
            </li>
            <li>

                Контроль дебиторской задолженности.

            </li>
        </ul>
        <ul>
            Функции менеджера по продажам:

            <li>
                Продажа товаров и услуг.
            </li>
            <li>
                Ведение переговоров, выезд на встречи.
            </li>
            <li>
                Поиск и привлечение новых клиентов.
            </li>
            <li>
                Документооборот, в том числе заключение договоров, выставление счетов, контроль дебиторской задолженности.
            </li>
            <li>
                Выполнение поставленного плана.
            </li>
            <li>
                Ведение базы существующих клиентов и поддержание «отношений» с ними.
            </li>
            <li>
                Знание особенностей продаваемого товара и обстановки в конкурирующей среде.
            </li>
            <li>
                Анализ объемов и итоговая отчетность по выполненным продажам.
            </li>

        </ul>
    </div>
</div>